/* Reset some default browser styles */
body, h1, h2, p, ul, li, dl, dt, dd {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
}

h1, h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

aside {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 200px;
}

aside ul {
    list-style-type: none;
}

aside li {
    margin-bottom: 10px;
}

aside a {
    color: #fff;
    text-decoration: none;
}

/* Responsive design */
@media (max-width: 768px) {
    aside {
        position: static;
        width: 100%;
    }
}
